@font-face { /*Medium*/
    font-family: 'Circula';
    src: url(/fonts/circula/Circula-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face { /*Bold*/
    font-family: 'Circula';
    src: url(/fonts/circula/Circula-Medium.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face { /*Black*/
    font-family: 'Circula';
    src: url(/fonts/circula/Circula-Medium.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}